.weather-container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  background-color: darkmagenta;
}

.current-weather,
.today-forecast {
  margin-bottom: 20px;
}

.today-forecast-item {
  text-align: center;
  padding: 20px;
  background-color: blue;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(100, 110, 110, 0.1);
}

.today-forecast-item p {
  margin: 10px 0;
}
